.IconContainer:hover .renovIcon{
    animation: fa-spin .3s forwards linear;
    
    cursor: pointer;
    
}
@keyframes fa-spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)}
        100%{
            -webkit-transform:rotate(30deg);
            transform:rotate(30deg)
        }
    }
.IconContainer{
    text-align: center;
}
.listGroup{
    min-height: 20em;
}
 .bg-bronze{
    background-color: #a97142!important;
}
.bg-silver{
    background-color:#aaa9ad!important;

} 
.bg-gold{
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(158, 0, 0) 100%); */
    background-color: #d4af37!important;
}

.btn-gradient{
    color: azure!important;
}